#container {
    background-image: url("https://i.imgur.com/ZdQOKy6.jpg!d");
    background-size: cover;
}
#tabs .nav-tabs {
    background-color: inherit;
}
#roomsContainer2, #usersContainer2, #friendsContainer2 {
    background-color: inherit;
}

#footer {
    background-color: inherit;
}

#tabs .tab-pane  {
    background-color: inherit;
}

#tabs {
    background-color: inherit;
}
#usersContainer {
    background-color: inherit!important;
}
